__pycache__/

.cache/

inputs/*
!inputs/stopwords/
inputs/stopwords/*

outputs/*
!outputs/plots/
outputs/plots/*
!outputs/networks/
outputs/networks/*
!outputs/losses/
outputs/losses/*
!outputs/networks/state_dicts/
outputs/networks/state_dicts/*

words/*

!**/.gitkeep
