__pycache__/

inputs/*
!inputs/stopwords/
inputs/stopwords/*

outputs/*
!outputs/plots/
outputs/plots/*
!outputs/networks/
outputs/networks/*
!outputs/networks/state_dicts/
outputs/networks/state_dicts/*

words/*

!**/.gitkeep
